In [26]:
# Dependencies and Setup
from pathlib import Path
import pandas as pd

In [27]:
# File to Load
school_data_to_load = Path("Resources/schools_complete.csv")
student_data_to_load = Path("Resources/students_complete.csv")

In [28]:
# Read School and Student Data File and store into Pandas DataFrames
school_data = pd.read_csv(school_data_to_load)
student_data = pd.read_csv(student_data_to_load)

# Combine the data into a single dataset.
school_data_complete = pd.merge(student_data, school_data, how="left", on=["school_name", "school_name"])

In [29]:
# PART 1 - LOCAL GOVERNMENT AREA SUMMARY

In [30]:
# 1i): 

# Calculate the Totals (Schools and Students):
school_count = school_data["school_name"].nunique()
student_count = student_data["student_name"].count()

# Calculate the Total Budget
total_budget = school_data["budget"].sum()

# Display the calculated totals
print(f"Total Schools: {school_count}")
print(f"Total Students: {student_count}")
print(f"Total Budget: {total_budget}")

Total Schools: 15
Total Students: 39170
Total Budget: 24649428

In [31]:
# 1ii): 

# Calculate the Average Scores:
average_maths_score = school_data_complete["maths_score"].mean()
average_reading_score = school_data_complete["reading_score"].mean()

# Calculate the Percentage Pass Rates
passing_maths_count = school_data_complete[(school_data_complete["maths_score"] >= 50)].count()["student_name"]
passing_maths_percentage = passing_maths_count / float(student_count) * 100

passing_reading_count = school_data_complete[(school_data_complete["reading_score"] >=50)].count()["student_name"]
passing_reading_percentage = passing_reading_count / float(student_count) * 100

passing_maths_reading_count = school_data_complete[(school_data_complete["maths_score"] >= 50) & 
                               (school_data_complete["reading_score"] >= 50)
                               ].count()["student_name"] 

overall_passing_rate = passing_maths_reading_count / float(student_count) * 100

# Display the calculated averages and pass rates
print(f"Average Maths Score: {average_maths_score}")
print(f"Average Reading Score: {average_reading_score}")
print(f"% Passing Maths: {passing_maths_percentage:.2f}%")
print(f"% Passing Reading: {passing_reading_percentage:.2f}%")
print(f"Overall Passing Rate: {overall_passing_rate:.2f}%")

Average Maths Score: 70.33819249425581
Average Reading Score: 69.98013786060761
% Passing Maths: 86.08%
% Passing Reading: 84.43%
Overall Passing Rate: 72.81%

In [32]:
# 1iii): 

# Convert to DataFrame:
area_summary = pd.DataFrame({
               "Total Schools": [school_count],
               "Total Students": [student_count], 
               "Total Budget": [total_budget], 
               "Average Maths Score": [average_maths_score], 
               "Average Reading Score": [average_reading_score], 
               "% Passing Maths": [passing_maths_percentage], 
               "% Passing Reading": [passing_reading_percentage],
               "Overall Passing Rate": [overall_passing_rate]
})
    

# Formatting
area_summary["Total Students"] = area_summary["Total Students"].map("{:,}".format)
area_summary["Total Budget"] = area_summary["Total Budget"].map("${:,.2f}".format)

# Display the DataFrame
print(area_summary)

   Total Schools Total Students    Total Budget  Average Maths Score  \
0             15         39,170  $24,649,428.00            70.338192

   Average Reading Score  % Passing Maths  % Passing Reading  \
0              69.980138        86.078632          84.426857

   Overall Passing Rate
0             72.808272

In [33]:
# PART 2 - SCHOOL SUMMARY

In [94]:
# 2i):

# Use the code provided to select the type per school from school_data
school_types = school_data.set_index(["school_name"])["type"]

# Calculate the total student count per school from school_data
per_school_counts = school_data_complete["school_name"].value_counts()

# Calculate the total school budget and per capita spending per school from school_data
per_school_budget = school_data.set_index(["school_name"])["budget"]
per_school_capita = per_school_budget / per_school_counts

# Calculate the average test scores per school from school_data_complete
average_school_maths = school_data_complete.groupby(["school_name"])["maths_score"].mean()
average_school_reading = school_data_complete.groupby(["school_name"])["reading_score"].mean()


# Display the calculated values
print("School Types:\n", school_types)
print("Total Student Count per School:\n", per_school_counts)
print("Total School Budget per School:\n", per_school_budget)
print("Per Student Budget per School:\n", per_school_capita)
print("Average Maths Score per School:\n", per_school_maths)
print("Average Reading Score per School:\n", per_school_reading)

School Types:
 school_name
Huang High School         Government
Figueroa High School      Government
Shelton High School      Independent
Hernandez High School     Government
Griffin High School      Independent
Wilson High School       Independent
Cabrera High School      Independent
Bailey High School        Government
Holden High School       Independent
Pena High School         Independent
Wright High School       Independent
Rodriguez High School     Government
Johnson High School       Government
Ford High School          Government
Thomas High School       Independent
Name: type, dtype: object
Total Student Count per School:
 school_name
Bailey High School       4976
Johnson High School      4761
Hernandez High School    4635
Rodriguez High School    3999
Figueroa High School     2949
Huang High School        2917
Ford High School         2739
Wilson High School       2283
Cabrera High School      1858
Wright High School       1800
Shelton High School      1761
Thomas High School       1635
Griffin High School      1468
Pena High School          962
Holden High School        427
Name: count, dtype: int64
Total School Budget per School:
 school_name
Huang High School        1910635
Figueroa High School     1884411
Shelton High School      1056600
Hernandez High School    3022020
Griffin High School       917500
Wilson High School       1319574
Cabrera High School      1081356
Bailey High School       3124928
Holden High School        248087
Pena High School          585858
Wright High School       1049400
Rodriguez High School    2547363
Johnson High School      3094650
Ford High School         1763916
Thomas High School       1043130
Name: budget, dtype: int64
Per Student Budget per School:
 school_name
Bailey High School       628.0
Cabrera High School      582.0
Figueroa High School     639.0
Ford High School         644.0
Griffin High School      625.0
Hernandez High School    652.0
Holden High School       581.0
Huang High School        655.0
Johnson High School      650.0
Pena High School         609.0
Rodriguez High School    637.0
Shelton High School      600.0
Thomas High School       638.0
Wilson High School       578.0
Wright High School       583.0
dtype: float64

NameError: name 'per_school_maths' is not defined

In [93]:
# 2ii): 

# Get the students who passed maths and passed reading by creating separate filtered DataFrames from school_data_complete.
school_passing_maths = school_data_complete[school_data_complete["maths_score"] >=50]
school_passing_reading = school_data_complete[school_data_complete["reading_score"] >=50]

# Get the students who passed both reading and maths in a separate DataFrame from school_data_complete.
passing_maths_and_reading = school_data_complete[
    (school_data_complete["maths_score"] >= 50) & 
    (school_data_complete["reading_score"] >= 50)
]

# Display the filtered DataFrames
print("Students Passing Maths:\n", school_passing_maths)
print("")
print("Students Passing Reading:\n", school_passing_reading)
print("")
print("Students Passing Both Maths and Reading:\n", passing_maths_and_reading)

Students Passing Maths:
        Student ID     student_name gender  year         school_name  \
0               0     Paul Bradley      M     9   Huang High School
2               2  Kevin Rodriguez      M    12   Huang High School
3               3    Richard Scott      M    12   Huang High School
4               4       Bonnie Ray      F     9   Huang High School
5               5    Bryan Miranda      M     9   Huang High School
...           ...              ...    ...   ...                 ...
39164       39164   Joseph Anthony      M     9  Thomas High School
39166       39166        Dawn Bell      F    10  Thomas High School
39167       39167   Rebecca Tanner      F     9  Thomas High School
39168       39168     Desiree Kidd      F    10  Thomas High School
39169       39169  Carolyn Jackson      F    11  Thomas High School

       reading_score  maths_score  School ID         type  size   budget
0                 96           94          0   Government  2917  1910635
2                 41           76          0   Government  2917  1910635
3                 89           86          0   Government  2917  1910635
4                 87           69          0   Government  2917  1910635
5                 88           93          0   Government  2917  1910635
...              ...          ...        ...          ...   ...      ...
39164             97           79         14  Independent  1635  1043130
39166             81           89         14  Independent  1635  1043130
39167             99           99         14  Independent  1635  1043130
39168             72           77         14  Independent  1635  1043130
39169             47           62         14  Independent  1635  1043130

[33717 rows x 11 columns]

Students Passing Reading:
        Student ID    student_name gender  year         school_name  \
0               0    Paul Bradley      M     9   Huang High School
1               1    Victor Smith      M    12   Huang High School
3               3   Richard Scott      M    12   Huang High School
4               4      Bonnie Ray      F     9   Huang High School
5               5   Bryan Miranda      M     9   Huang High School
...           ...             ...    ...   ...                 ...
39164       39164  Joseph Anthony      M     9  Thomas High School
39165       39165    Donna Howard      F    12  Thomas High School
39166       39166       Dawn Bell      F    10  Thomas High School
39167       39167  Rebecca Tanner      F     9  Thomas High School
39168       39168    Desiree Kidd      F    10  Thomas High School

       reading_score  maths_score  School ID         type  size   budget
0                 96           94          0   Government  2917  1910635
1                 90           43          0   Government  2917  1910635
3                 89           86          0   Government  2917  1910635
4                 87           69          0   Government  2917  1910635
5                 88           93          0   Government  2917  1910635
...              ...          ...        ...          ...   ...      ...
39164             97           79         14  Independent  1635  1043130
39165             51           48         14  Independent  1635  1043130
39166             81           89         14  Independent  1635  1043130
39167             99           99         14  Independent  1635  1043130
39168             72           77         14  Independent  1635  1043130

[33070 rows x 11 columns]

Students Passing Both Maths and Reading:
        Student ID    student_name gender  year         school_name  \
0               0    Paul Bradley      M     9   Huang High School
3               3   Richard Scott      M    12   Huang High School
4               4      Bonnie Ray      F     9   Huang High School
5               5   Bryan Miranda      M     9   Huang High School
6               6   Sheena Carter      F    11   Huang High School
...           ...             ...    ...   ...                 ...
39163       39163      John Reese      M    11  Thomas High School
39164       39164  Joseph Anthony      M     9  Thomas High School
39166       39166       Dawn Bell      F    10  Thomas High School
39167       39167  Rebecca Tanner      F     9  Thomas High School
39168       39168    Desiree Kidd      F    10  Thomas High School

       reading_score  maths_score  School ID         type  size   budget
0                 96           94          0   Government  2917  1910635
3                 89           86          0   Government  2917  1910635
4                 87           69          0   Government  2917  1910635
5                 88           93          0   Government  2917  1910635
6                 73           60          0   Government  2917  1910635
...              ...          ...        ...          ...   ...      ...
39163             79           86         14  Independent  1635  1043130
39164             97           79         14  Independent  1635  1043130
39166             81           89         14  Independent  1635  1043130
39167             99           99         14  Independent  1635  1043130
39168             72           77         14  Independent  1635  1043130

[28519 rows x 11 columns]

In [45]:
# 2iii):

# Calculate the Percentage Pass Rates
per_school_passing_maths = school_passing_maths.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
per_school_passing_reading = school_passing_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100
overall_passing_rate = passing_maths_and_reading.groupby(["school_name"]).count()["student_name"] / per_school_counts * 100


# Display the percentage pass rates
print("% Passing Maths per School:\n", per_school_passing_maths)
print("") 
print("% Passing Reading per School:\n", per_school_passing_reading)
print("")
print("Overall Passing Rate per School:\n", overall_passing_rate)

% Passing Maths per School:
 school_name
Bailey High School       91.639871
Cabrera High School      90.850377
Figueroa High School     81.654798
Ford High School         82.438846
Griffin High School      91.212534
Hernandez High School    80.949299
Holden High School       89.929742
Huang High School        81.693521
Johnson High School      82.062592
Pena High School         91.683992
Rodriguez High School    90.797699
Shelton High School      91.538898
Thomas High School       83.853211
Wilson High School       82.785808
Wright High School       91.777778
dtype: float64

% Passing Reading per School:
 school_name
Bailey High School       87.379421
Cabrera High School      89.074273
Figueroa High School     82.807731
Ford High School         82.219788
Griffin High School      88.487738
Hernandez High School    81.877023
Holden High School       88.524590
Huang High School        81.453548
Johnson High School      81.978576
Pena High School         86.590437
Rodriguez High School    87.396849
Shelton High School      86.712095
Thomas High School       82.629969
Wilson High School       81.296540
Wright High School       86.666667
dtype: float64

Overall Passing Rate per School:
 school_name
Bailey High School       80.084405
Cabrera High School      80.785791
Figueroa High School     67.650051
Ford High School         67.469880
Griffin High School      81.335150
Hernandez High School    66.364617
Holden High School       78.922717
Huang High School        66.712376
Johnson High School      67.191766
Pena High School         79.209979
Rodriguez High School    79.419855
Shelton High School      78.875639
Thomas High School       69.480122
Wilson High School       67.455103
Wright High School       79.722222
dtype: float64

In [48]:
# 2iv): 

# Convert to DataFrame
per_school_summary = pd.DataFrame({
    "School Type": school_types,
    "Total Students": per_school_counts,
    "Total School Budget": per_school_budget,
    "Per Student Budget": per_school_capita,
    "Average Maths Score": average_school_maths,
    "Average Reading Score": average_school_reading,
    "% Passing Maths": per_school_passing_maths,
    "% Passing Reading": per_school_passing_reading,
    "Overall Passing Rate": overall_passing_rate
})

# Formatting
per_school_summary["Total School Budget"] = per_school_summary["Total School Budget"].map("${:,.2f}".format)
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].map("${:,.2f}".format)

# Display the DataFrame
per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,Overall Passing Rate
school_name,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",$628.00,72.352894,71.008842,91.639871,87.379421,80.084405
Cabrera High School,Independent,1858,"$1,081,356.00",$582.00,71.657158,71.359526,90.850377,89.074273,80.785791
Figueroa High School,Government,2949,"$1,884,411.00",$639.00,68.698542,69.077993,81.654798,82.807731,67.650051
Ford High School,Government,2739,"$1,763,916.00",$644.00,69.091274,69.572472,82.438846,82.219788,67.469880
Griffin High School,Independent,1468,"$917,500.00",$625.00,71.788147,71.245232,91.212534,88.487738,81.335150
Hernandez High School,Government,4635,"$3,022,020.00",$652.00,68.874865,69.186408,80.949299,81.877023,66.364617
Holden High School,Independent,427,"$248,087.00",$581.00,72.583138,71.660422,89.929742,88.524590,78.922717
Huang High School,Government,2917,"$1,910,635.00",$655.00,68.935207,68.910525,81.693521,81.453548,66.712376
Johnson High School,Government,4761,"$3,094,650.00",$650.00,68.843100,69.039277,82.062592,81.978576,67.191766
Pena High School,Independent,962,"$585,858.00",$609.00,72.088358,71.613306,91.683992,86.590437,79.209979
Rodriguez High School,Government,3999,"$2,547,363.00",$637.00,72.047762,70.935984,90.797699,87.396849,79.419855
Shelton High School,Independent,1761,"$1,056,600.00",$600.00,72.034072,70.257808,91.538898,86.712095,78.875639
Thomas High School,Independent,1635,"$1,043,130.00",$638.00,69.581651,69.768807,83.853211,82.629969,69.480122
Wilson High School,Independent,2283,"$1,319,574.00",$578.00,69.170828,68.876916,82.785808,81.296540,67.455103
Wright High School,Independent,1800,"$1,049,400.00",$583.00,72.047222,70.969444,91.777778,86.666667,79.722222

In [ ]:
# PART 3 - STATISTICS

In [53]:
# 3i) TOP PERFORMING SCHOOLS: 

# Sort and show top five schools
top_schools = per_school_summary.sort_values(by="Overall Passing Rate", ascending=False)[["Overall Passing Rate"]]
print("Top Performing Schools:\n", top_schools.head(5), "\n")

Top Performing Schools:
                        Overall Passing Rate
school_name
Griffin High School               81.335150
Cabrera High School               80.785791
Bailey High School                80.084405
Wright High School                79.722222
Rodriguez High School             79.419855

In [54]:
# 3ii) BOTTOM PERFORMING SCHOOLS:

bottom_schools = per_school_summary.sort_values(by="Overall Passing Rate", ascending=True)[["Overall Passing Rate"]]
print("Bottom Performing Schools:\n", bottom_schools.head(5), "\n")

Bottom Performing Schools:
                        Overall Passing Rate
school_name
Hernandez High School             66.364617
Huang High School                 66.712376
Johnson High School               67.191766
Wilson High School                67.455103
Ford High School                  67.469880

In [60]:
# 3iii) MATH SCORES BY YEAR:

# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores = year_nine.groupby("school_name")["maths_score"].mean()
year_ten_scores = year_ten.groupby("school_name")["maths_score"].mean()
year_eleven_scores = year_eleven.groupby("school_name")["maths_score"].mean()
year_twelve_scores = year_twelve.groupby("school_name")["maths_score"].mean()


# Combine series into single DataFrame
maths_scores_by_year = pd.DataFrame({
    "Year 9": year_nine_scores,
    "Year 10": year_ten_scores,
    "Year 11": year_eleven_scores,
    "Year 12": year_twelve_scores
})

# Minor data wrangling
maths_scores_by_year.index.name = None


# Display the DataFrame
maths_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     72.493827  71.897498  72.374900  72.675097
Cabrera High School    72.321970  72.437768  71.008299  70.604712
Figueroa High School   68.477804  68.331586  68.811001  69.325282
Ford High School       69.021609  69.387006  69.248862  68.617811
Griffin High School    72.789731  71.093596  71.692521  71.469178
Hernandez High School  68.586831  68.867156  69.154412  68.985075
Holden High School     70.543307  75.105263  71.640777  73.409639
Huang High School      69.081754  68.533246  69.431345  68.639316
Johnson High School    69.469286  67.990220  68.637730  69.287393
Pena High School       71.996364  72.396000  72.523438  71.187845
Rodriguez High School  71.940722  71.779808  72.364811  72.154626
Shelton High School    72.932075  72.506696  70.097087  72.331536
Thomas High School     69.234273  70.057007  69.657831  69.369822
Wilson High School     69.212361  69.455446  68.378965  69.787472
Wright High School     71.741176  72.179012  73.275862  70.848238

In [58]:
# 3iv) READING SCORES BY YEAR:

# Create data series of scores by year levels using conditionals
year_nine = school_data_complete[(school_data_complete["year"] == 9)]
year_ten = school_data_complete[(school_data_complete["year"] == 10)]
year_eleven = school_data_complete[(school_data_complete["year"] == 11)]
year_twelve = school_data_complete[(school_data_complete["year"] == 12)]

# Group each by school name
year_nine_scores = year_nine.groupby("school_name")["reading_score"].mean()
year_ten_scores = year_ten.groupby("school_name")["reading_score"].mean()
year_eleven_scores = year_eleven.groupby("school_name")["reading_score"].mean()
year_twelve_scores = year_twelve.groupby("school_name")["reading_score"].mean()

# Combine series into single DataFrame
reading_scores_by_year = pd.DataFrame({
    "Year 9": year_nine_scores,
    "Year 10": year_ten_scores,
    "Year 11": year_eleven_scores,
    "Year 12": year_twelve_scores
})

# Minor data wrangling
reading_scores_by_year.index.name = None

# Display the DataFrame
reading_scores_by_year

                          Year 9    Year 10    Year 11    Year 12
Bailey High School     70.901920  70.848265  70.317346  72.195525
Cabrera High School    71.172348  71.328326  71.201245  71.856021
Figueroa High School   70.261682  67.677588  69.152327  69.082126
Ford High School       69.615846  68.988701  70.735964  68.849722
Griffin High School    72.026895  70.746305  72.385042  69.434932
Hernandez High School  68.477569  70.621842  68.418199  69.244136
Holden High School     71.598425  71.096491  73.310680  70.481928
Huang High School      68.670616  69.516297  68.740638  68.671795
Johnson High School    68.719286  69.295029  69.969115  67.992521
Pena High School       70.949091  72.324000  71.703125  71.513812
Rodriguez High School  70.902921  70.137500  71.424453  71.414449
Shelton High School    70.715094  69.879464  71.150485  69.070081
Thomas High School     69.672451  69.741093  70.749398  68.730769
Wilson High School     68.683043  68.412541  68.796327  69.888143
Wright High School     71.823529  71.386831  70.475862  69.821138

In [69]:
# 3v) SCORES BY SCHOOL SPENDING:

# Establish the bins
spending_bins = [0, 585, 630, 645, 680]
group_names = ["<$585", "$585-630", "$630-645", "$645-680"]

In [74]:
# Fix "Per Student Budget" column to numeric format: 
per_school_summary["Per Student Budget"] = per_school_summary["Per Student Budget"].replace('[\$,]', '', regex=True).astype(float)


# Categorise spending based on the bins.
school_spending_df["Spending Ranges (Per Student)"] = pd.cut(school_spending_df["Per Student Budget"], spending_bins, labels=group_names) 
school_spending_df

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,Overall Passing Rate,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.657158,71.359526,90.850377,89.074273,80.785791,<$585
Figueroa High School,Government,2949,"$1,884,411.00",639.0,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645
Ford High School,Government,2739,"$1,763,916.00",644.0,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645
Griffin High School,Independent,1468,"$917,500.00",625.0,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630
Hernandez High School,Government,4635,"$3,022,020.00",652.0,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680
Holden High School,Independent,427,"$248,087.00",581.0,72.583138,71.660422,89.929742,88.524590,78.922717,<$585
Huang High School,Government,2917,"$1,910,635.00",655.0,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680
Johnson High School,Government,4761,"$3,094,650.00",650.0,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680
Pena High School,Independent,962,"$585,858.00",609.0,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630
Rodriguez High School,Government,3999,"$2,547,363.00",637.0,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645
Shelton High School,Independent,1761,"$1,056,600.00",600.0,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630
Thomas High School,Independent,1635,"$1,043,130.00",638.0,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645
Wilson High School,Independent,2283,"$1,319,574.00",578.0,69.170828,68.876916,82.785808,81.296540,67.455103,<$585
Wright High School,Independent,1800,"$1,049,400.00",583.0,72.047222,70.969444,91.777778,86.666667,79.722222,<$585

In [78]:
# Calculate averages for the desired columns.
spending_maths_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["Average Maths Score"].mean()
spending_reading_scores = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["Average Reading Score"].mean()
spending_passing_maths = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["% Passing Maths"].mean()
spending_passing_reading = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["% Passing Reading"].mean()
overall_passing_spending = school_spending_df.groupby(["Spending Ranges (Per Student)"], observed=False)["Overall Passing Rate"].mean()

In [79]:
# Assemble into DataFrame
spending_summary = pd.DataFrame({
        "Average Maths Score": spending_maths_scores, 
        "Average Reading Score": spending_reading_scores,
        "% Passing Maths": spending_passing_maths,
        "% Passing Reading": spending_passing_reading,
        "% Overall Passing": overall_passing_spending
})

# Display results
spending_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,71.364587,70.716577,88.835926,86.390517,76.721458
$585-630,72.065868,71.031297,91.518824,87.292423,79.876293
$630-645,69.854807,69.838814,84.686139,83.763585,71.004977
$645-680,68.884391,69.045403,81.568470,81.769716,66.756253

In [81]:
# 3vi) SCORES BY SCHOOL SIZE:

#Establish the bins.
size_bins = [0, 1000, 2000, 5000]
group_names = ["Small (<1000)", "Medium (1000-2000)", "Large (2000-5000)"]

In [82]:
# Categorize the spending based on the bins
per_school_summary["School Size"] = per_school_summary["School Size"] = pd.cut(per_school_summary["Total Students"].replace(',', '').astype(int), size_bins, labels=group_names)

per_school_summary

,School Type,Total Students,Total School Budget,Per Student Budget,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,Overall Passing Rate,Spending Ranges (Per Student),School Size
school_name,,,,,,,,,,,
Bailey High School,Government,4976,"$3,124,928.00",628.0,72.352894,71.008842,91.639871,87.379421,80.084405,$585-630,Large (2000-5000)
Cabrera High School,Independent,1858,"$1,081,356.00",582.0,71.657158,71.359526,90.850377,89.074273,80.785791,<$585,Medium (1000-2000)
Figueroa High School,Government,2949,"$1,884,411.00",639.0,68.698542,69.077993,81.654798,82.807731,67.650051,$630-645,Large (2000-5000)
Ford High School,Government,2739,"$1,763,916.00",644.0,69.091274,69.572472,82.438846,82.219788,67.469880,$630-645,Large (2000-5000)
Griffin High School,Independent,1468,"$917,500.00",625.0,71.788147,71.245232,91.212534,88.487738,81.335150,$585-630,Medium (1000-2000)
Hernandez High School,Government,4635,"$3,022,020.00",652.0,68.874865,69.186408,80.949299,81.877023,66.364617,$645-680,Large (2000-5000)
Holden High School,Independent,427,"$248,087.00",581.0,72.583138,71.660422,89.929742,88.524590,78.922717,<$585,Small (<1000)
Huang High School,Government,2917,"$1,910,635.00",655.0,68.935207,68.910525,81.693521,81.453548,66.712376,$645-680,Large (2000-5000)
Johnson High School,Government,4761,"$3,094,650.00",650.0,68.843100,69.039277,82.062592,81.978576,67.191766,$645-680,Large (2000-5000)
Pena High School,Independent,962,"$585,858.00",609.0,72.088358,71.613306,91.683992,86.590437,79.209979,$585-630,Small (<1000)
Rodriguez High School,Government,3999,"$2,547,363.00",637.0,72.047762,70.935984,90.797699,87.396849,79.419855,$630-645,Large (2000-5000)
Shelton High School,Independent,1761,"$1,056,600.00",600.0,72.034072,70.257808,91.538898,86.712095,78.875639,$585-630,Medium (1000-2000)
Thomas High School,Independent,1635,"$1,043,130.00",638.0,69.581651,69.768807,83.853211,82.629969,69.480122,$630-645,Medium (1000-2000)
Wilson High School,Independent,2283,"$1,319,574.00",578.0,69.170828,68.876916,82.785808,81.296540,67.455103,<$585,Large (2000-5000)
Wright High School,Independent,1800,"$1,049,400.00",583.0,72.047222,70.969444,91.777778,86.666667,79.722222,<$585,Medium (1000-2000)

In [84]:
# Calculate averages for the desired columns.
size_maths_scores = per_school_summary.groupby(["School Size"], observed=False)["Average Maths Score"].mean()
size_reading_scores = per_school_summary.groupby(["School Size"], observed=False)["Average Reading Score"].mean()
size_passing_maths = per_school_summary.groupby(["School Size"], observed=False)["% Passing Maths"].mean()
size_passing_reading = per_school_summary.groupby(["School Size"], observed=False)["% Passing Reading"].mean()
size_overall_passing = per_school_summary.groupby(["School Size"], observed=False)["Overall Passing Rate"].mean()

In [85]:
# Assemble into DataFrame
size_summary =  pd.DataFrame({
    "Average Maths Score": size_maths_scores,
    "Average Reading Score": size_reading_scores,
    "% Passing Maths": size_passing_maths,
    "% Passing Reading": size_passing_reading,
    "% Overall Passing": size_overall_passing
})

# Display results
size_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),72.335748,71.636864,90.806867,87.557513,79.066348
Medium (1000-2000),71.421650,70.720164,89.846560,86.714149,78.039785
Large (2000-5000),69.751809,69.576052,84.252804,83.301185,70.293507

In [88]:
# 3vii) SCORES BY SCHOOL TYPE:

# Create new series using groupby for:
# Type | Average Maths Score | Average Reading Score | % Passing Maths | % Passing Reading | % Overall Passing

type_maths_scores = per_school_summary.groupby(["School Type"])["Average Maths Score"].mean()
type_reading_scores = per_school_summary.groupby(["School Type"])["Average Reading Score"].mean()
type_passing_maths = per_school_summary.groupby(["School Type"])["% Passing Maths"].mean()
type_passing_reading = per_school_summary.groupby(["School Type"])["% Passing Reading"].mean()
type_overall_passing = per_school_summary.groupby(["School Type"])["Overall Passing Rate"].mean()

In [89]:
# Assemble into DataFrame
type_summary = pd.DataFrame({
    "Average Maths Score": type_maths_scores,
    "Average Reading Score": type_reading_scores,
    "% Passing Maths": type_passing_maths,
    "% Passing Reading": type_passing_reading,
    "% Overall Passing": type_overall_passing
})

# Display results
type_summary

,Average Maths Score,Average Reading Score,% Passing Maths,% Passing Reading,% Overall Passing
School Type,,,,,
Government,69.834806,69.675929,84.462375,83.587562,70.698993
Independent,71.368822,70.718933,89.204043,86.247789,76.973340